input {
  width: 100%;
  height: 70%;
  padding: 0px;
}

.bgThis {
  background-image: url("../images/bgBlue.png");
  height: 100vh;
  width: 100%;
  position:relative;
}

.tList {
  background-color: #EAC0A2;
  border-radius: 5px;
}

.addExpense{
  background-color: #c2d4d4;
}

input[type="text"] {
  font-size: 25px;
}

input,
input::-webkit-input-placeholder {
  font-size: 25px;
  line-height: 3;
}

.updateInput {
  width: 500px;
  height: 38px;
  padding: 0px;
}

.budgetInputPosition {
  margin-top: 15%;
}

.graphStyle {
  width: 400px;
  height: 400px;
  margin: 0 auto 15px auto;
  padding: 1%;
  border-radius: 0 0 500px 500px;
}

.center-text {
  margin: auto;
}

.curvedInput {
  border-radius: 150px;
}

.noCurveBtn {
  border-radius: 0px;
}

.displayHidden {
  display: none;
}

.labelText {
  font-size: 21px;
}

.belowBudget {
  font-size: 35px;
}

.centerX {
  margin-left: auto;
  margin-right: auto;
}

.yellowBg{
  background-color: #f3e6a4;
}
